package {{ .Parsed.Pkg }}

var {{ .VarName }} = []{{ .TypeName }}{
  {{- range .Parsed.Names }}
  {{ . }},
  {{- end }}
  }
{{ if .ExportFunc }}
func ({{ .TypeName}}) {{ .FuncName }}() []{{ .TypeName }} {
  return {{ .VarName }}
}
{{ end }}
